[workspace]
default-members = [
  "crates/crashtracker",
  "crates/process_discovery",
]
members = [
  "crates/*",
]

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[patch.crates-io]
# Override the native capability implementations with wasm versions
# backed by JS transports. Same package name + public API as the native crate.
libdd-capabilities-impl = { path = "crates/capabilities" }
