[workspace]
default-members = [
  "crates/crashtracker",
  "crates/process_discovery",
  "crates/pipeline",
]
members = [
  "crates/*",
]

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
