[package]
name = "pipeline"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
data-pipeline = { git = "https://github.com/DataDog/libdatadog.git", rev = "3e4c8acba64317de11ccd85e44bf1d07ff06a4d7" }
datadog-trace-utils = { git = "https://github.com/DataDog/libdatadog.git", rev = "3e4c8acba64317de11ccd85e44bf1d07ff06a4d7" }
serde = { version = "1.0", features = ["derive"] }
napi = { version = "3.3", features = ["napi6", "async"] }
napi-derive = { version = "3", default-features = false }
