name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-test-wasm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - library_config
          - datadog-js-zstd
    steps:
      - uses: actions/checkout@v4
      - name: 'Use composite action'
        uses: ./.github/actions/build-test-wasm
        with:
          crate: '${{ matrix.crate }}'

  build:
    uses: Datadog/action-prebuildify/.github/workflows/build.yml@main
    needs: build-test-wasm
    with:
      package-manager: 'yarn'
      cache: false
      min-node-version: 16
      rust: true
      only: darwin-arm64,darwin-x64,linux-arm64,linux-x64
      pre-test-script: 'cargo build && node scripts/copy-artifacts.js'

  package-size:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
      - run: yarn install
      - name: Compute module size tree and report
        uses: qard/heaviest-objects-in-the-universe@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
